.text {
    &--inverted {
        color: color-var(--global__colors__white);
    }
    &--medium {
        font-size: var(--headings__default__font-size--default);
    }
    &--script {
        font-family: $font-family-script;
        font-style: italic;
        font-size: 18px;
        color: color-var(--global__colors__gray-medium);

        h1 + & {
            color: color-var(--global__colors__gray-light);
        }
    }
}

.horizontal-rule {
    margin-top: var(--global__sizing__layout-spacing--half);
    margin-bottom: var(--global__sizing__layout-spacing--half);
    margin-left: 0;
    width: var(--global__sizing__text-spacing--double);
    background-color: color-var(--global__colors__primary);
    height: 3px;
    border: none;
    transition: width 0.25s ease-in-out;

    &--center {
        margin-left: auto;
    }
    &--double {
        width: calc(var(--global__sizing__text-spacing--double)*2);
    }
}

.blockquote {
    font-size: $font-size-base;
    font-style: italic;
    margin-top: 45px;
    color: color-var(--global__colors__white);
    @include media-breakpoint-up(sm) {
        margin-bottom: 0;
    }

    &__quote > :last-child:before {
        text-indent: 0;
        display: block;
        color: #fff;
        font-family: $font-family-script;
        font-size: 120px;
        line-height: 0.1em;
        vertical-align: -0.4em;
        content: "\201C";
        font-style: normal;
    }

    &__quote > :last-child:after,
    &__attribution:before {
        content: '';
    }
}
