%button,
.button {
    text-transform: uppercase;
    letter-spacing: 2px;
    &--inverted {
        border-width: 3px;
        border-color: color-var(--buttons__inverted__background-hover);
    }
}
