%heading,
.heading {
    font-family: $font-family-secondary;
    margin-bottom: var(--global__sizing__text-spacing--half);
    font-weight: 500;

    &--inverted {
        color: color-var(--global__colors__white);
    }
    &--medium,
    &--large,
    &--xlarge {
        text-transform: uppercase;
    }
    &--xlarge {
        font-weight: 700;
    }

    > a:hover {
        text-decoration: none;
    }
}
