.icon {
    &.icon-style-circle {
        > svg {
            width: 1.5em;
            height: 1.5em;
        }
        &:hover {
            background-color: color-var(--global__colors__black);
        }
    }
}
