.accordion {
    color: color-var(--global__colors__white);
}

.accordion-panel {
    border: 1px solid color-var(--global__colors__white);
    border-left-color: color-var(--global__colors__primary);
    border-left-width: 3px;
    padding: var(--global__sizing__text-spacing--default);
    margin-bottom: var(--global__sizing__text-spacing--half);

    &__heading {
        margin: 0;
        font-weight: 700;

        .accordion-panel--expanded & {
            margin-bottom: var(--global__sizing__text-spacing--default);
        }
    }
    &__content {
        .accordion-panel--expanded & {
            padding: 0;
        }
    }
    &__icon {
        display: none;
    }
}
