.card {
    padding: var(--global__sizing__text-spacing--default);
    height: 100%;

    @include media-breakpoint-up(sm) {
        padding: var(--global__sizing__text-spacing--double);
    }

    > * {
        margin-bottom: var(--global__sizing__text-spacing--default);

        &:last-child {
            margin-bottom: 0;
        }
    }
}
