.footer-banner {
    background-color: color-var(--global__colors__primary);
    padding: var(--global__sizing__layout-spacing--default) 0;
    &__row > div {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(sm) {
            margin-bottom: var(--global__sizing__text-spacing--default);
        }

        &:first-child {
            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }

        &:last-child {
            justify-content: center;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
    &__text {
        @extend %heading, %heading--medium;
        text-transform: inherit;
        font-weight: 400;
    }
}
