.footer-nav {
    padding-top: var(--global__sizing__layout-spacing--double);
    padding-bottom: var(--global__sizing__layout-spacing--double);
    background-color: color-var(--global__colors__gray-darker);
    color: color-var(--global__colors__gray-light);
    &__container {
        display: flex;
        flex-flow: row nowrap;
    }
    &__row {
        width: 100%;
        a {
            color: color-var(--global__colors__white);
        }
        > div {
            margin-bottom: var(--global__sizing__layout-spacing--default);

            > * {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.col-sm-4 {
                text-align: center;
                @include media-breakpoint-up(sm) {
                    text-align: left;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .horizontal-rule {
        @include media-breakpoint-down(xs) {
            margin-left: auto;
        }
    }
    ul {
        margin-bottom: 0;

        a {
            color: color-var(--global__sizing__white);
        }
    }
}
