.header-nav {
    //background-color: transparent;
    z-index: 1;
    padding-top: var(--global__sizing__layout-spacing--half);
    padding-bottom: var(--global__sizing__layout-spacing--half);

    //body:not(.home) & {
        background-color: color-var(--global__colors__white, .05);
    //}

    @include media-breakpoint-up(md) {
        padding-top: var(--global__sizing__layout-spacing--default);
        padding-bottom: var(--global__sizing__layout-spacing--default);
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
    }
    &__content-container {
        display: flex;
        align-items: center;
    }
    &__menu {
        flex-basis: auto;
        padding: 0;
    }
    &__social {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
        .list {
            margin-bottom: 0;
            li {
                padding: 0;
            }
            a {
                vertical-align: super;
                padding: var(--global__sizing__text-spacing--half);
            }
        }
    }
    &__sticky-logo {
        display: none;
    }
    &.sticky-header--sticky {
        background-color: color-var(--global__colors__white);

        .header-nav {
            &__logo {
                display: none;
            }
            &__sticky-logo {
                display: block;
            }
        }
        .nav-menu__toggle-bar,
        .nav-menu__toggle-bar:before,
        .nav-menu__toggle-bar:after {
            background-color: color-var(--global__colors__primary);
        }
    }
}
