.icon-card {
    display: flex;
    padding-bottom: var(--global__sizing__layout-spacing--default);

    &:hover {
        .icon-card {
            &__icon-container {
                border-color: color-var(--global__colors__gray-darker);
            }
            &__icon-container-inner {
                background-color: color-var(--global__colors__gray-darker);
            }
        }
    }
    &__icon-container {
        flex: 1 0 10%;
        border-right: 1px solid color-var(--global__colors__primary);
        transition: border-color 0.5s ease-in-out;

        .icon {
            color: color-var(--global__colors__white);
        }
        svg {
            width: 2em;
            height: 2em;
        }
    }
    &__icon-container-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--global__sizing__text-spacing--half);
        background-color: color-var(--global__colors__primary);
        transition: background-color 0.5s ease-in-out;
    }
    &__content-container {
        padding-left: var(--global__sizing__layout-spacing--default);
        padding-right: var(--global__sizing__layout-spacing--default);
        flex: 1 0 90%;
    }
    &__content {
        margin-bottom: var(--global__sizing__layout-spacing--default);
    }
    &__link {
        color: color-var(--global__colors__gray-darker);
        font-weight: 700;
        .icon {
            margin-left: var(--global__sizing__text-spacing--half);
            transition: margin-left 0.15s ease-in-out;
        }
        &:hover {
            text-decoration: none;
            color: color-var(--global__colors__primary);
            .icon {
                margin-left: var(--global__sizing__text-spacing--default);
            }
        }
    }
}
