.indented-card {
    &__image {
        z-index: -1;
        position: relative;
    }
    &__content-container {
        padding: 0 var(--global__sizing__layout-spacing--half);
    }
    &__content-container-inner {
        background-color: #eee;
        padding: var(--global__sizing__layout-spacing--default) var(--global__sizing__layout-spacing--half);
        border-top: 3px solid color-var(--global__colors__primary);
        margin-top: calc(var(--global__sizing__layout-spacing--default) * -1);

        > p {
            margin-bottom: var(--global__sizing__text-spacing--half);
        }
    }
}
