.nav-menu {
    &__list {
        @extend %heading;
        margin-bottom: 0;
        font-weight: 700;
        font-size: $font-size-base;
        .nav-menu--opened & {
            font-size: var(--headings__medium__font-size--default);
        }
    }
    &__item {
        color: color-var(--global__colors__white);

        .sticky-header--sticky & {
            color: color-var(--global__colors__gray-dark);
        }
        .nav-menu--opened & {
            color: color-var(--global__colors__black);
        }
        &--has-sub > a:after {
            margin-left: var(--global__sizing__text-spacing--default);
            color: color-var(--global__colors__primary);
        }
    }
    &:not(.nav-menu--opened) {
        .nav-menu__sub-list {
            font-size: 0.8em;
            padding: var(--global__sizing__text-spacing--half) 0;
            background: color-var(--global__colors__gray-darker);
            color: color-var(--global__colors__white);

            a {
                background-color: color-var(--global__colors__gray-darker);
                padding: var(--global__sizing__text-spacing--half) var(--global__sizing__text-spacing--default);

                &:hover {
                    color: color-var(--global__colors__primary);
                }
            }
        }
    }
    &__toggle-label {
        display: none;
    }
    &.nav-menu--opened {
        .nav-menu {
            &__toggle-bar:after,
            &__toggle-bar:before {
                background-color: color-var(--global__colors__black);
            }
            &__sub-list {
                margin-bottom: 0;
            }
        }
    }
}
