.picture-card {
    position: relative;
    padding: calc(var(--global__sizing__text-spacing--half) / 2);
    &__image {
        filter: brightness(50%);
        #picture-card-modal & {
            filter: none;
            margin-bottom: var(--global__sizing__layout-spacing--default);
        }
    }
    &__overlay {
        cursor: pointer;
        position: absolute;
        top: calc(var(--global__sizing__text-spacing--half) / 2);
        left: calc(var(--global__sizing__text-spacing--half) / 2);
        right: calc(var(--global__sizing__text-spacing--half) / 2);
        bottom: calc(var(--global__sizing__text-spacing--half) / 2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        transition: all 0.25s ease-in-out;

        #picture-card-modal & {
            position: relative;
        }

        &:hover {
            text-decoration: none;
            background-color: color-var(--global__colors__black);
            .horizontal-rule {
                width: calc(var(--global__sizing__text-spacing--double)*2);
            }

            #picture-card-modal & {
                background-color: transparent;
                .horizontal-rule {
                    width: var(--global__sizing__text-spacing--double);
                }
            }
        }
    }
    &__heading {
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;

        #picture-card-modal & {
            color: color-var(--global__colors__black);
        }
    }
}
