$font-path: '../fonts' !default;
$font-family-base: 'Lato', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;
$font-family-script: 'Georgia', sans-serif;

$header-desktop-size: 112px;
$header-mobile-size: 82px;


$icon-svg-size: 1.10em;
$icon-circle-bg-color: color-var(--global__colors__primary);
$icon-primary-color: color-var(--global__colors__primary);

$owl-dot-background: color-var(--global__colors__white);

$modal-box-size: 768px;
$modal-container-padding: var(--global__sizing__layout-spacing--default);
$modal-close-position-top: var(--global__sizing__text-spacing--half);
$modal-close-position-right: var(--global__sizing__text-spacing--half);
